<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=shopName%></title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>About The <%=shopName%> Shop</h1>
        <ul>
            <% for(let i = 0; i < shops.length; i++) { %>
                <li><h2><%=shops[i].location%></h2></li>
                <h4>Manager:</h4> <%=shops[i].managerName%>
                <h4>Address:</h4> <%=shops[i].address%>
            <%} %>
        </ul>
        <a href="/">Back to Home</a>
    </body>
</html>