<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <ul>
        <li><strong>First Name:</strong> <%= responses.first_name %></li>
        <li><strong>Surname:</strong> <%= responses.surname %></li>
        <li><strong>Email:</strong> <%= responses.email %></li>
        <li><strong>Category:</strong> <%= responses.category %></li>
        <li><strong>Age:</strong> <%= responses.age %></li>
        <li><strong>Student:</strong> <%= responses.student %></li>
    </ul>
    <a href="/survey">Back to Survey</a>
    <a href="/">Back to Home</a>
</body>
</html>